<mat-form-field class="example-full-width">
  <input
      type="text"
      [placeholder]="placeholder"
      aria-label="Number"
      spellcheck="false"
      matInput
      [formControl]="searchControl"
      #input
      (blur)="blur()"
      (focus)="input.select(); focus()"
      [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
    <ng-container *ngIf="options | async as result">
      <ng-container *ngIf="!result.msg">
        <mat-option *ngFor="let option of result" [value]="option">
          {{ option.display }}
        </mat-option>
      </ng-container>
    </ng-container>
  </mat-autocomplete>
  <b *ngIf="(options | async)?.msg">Please handle errors in host application</b>
</mat-form-field>